!!!
%html
  %head
    %title Taulbee Survey Data
    :css
      .heading{
        color:white;
        background-color:#500000;
        height:50px;
        margin:0;
        padding:0;
      }
      
      .centered{
        text-align:center;
      }
  %body
    .heading
      %h1.centered Taulbee Survey
    %p
      %a{:href => site_index_path}
        %img{:height => "30", :src => "/images/homepageicon.jpg", :width => "30"}/
      %a{:href => site_selectStudentOrFaculty_path}
        %img{:height => "30", :src => "/images/previous-icon.png", :width => "30"}/
    %hr/
    %h2 Faculty
    %form
      %h3 Who are you looking for?
      %p
        Tenure Track Faculty Members
        %select
          %option Full Professors
          %option Associate Professors
          %option Assistant Professors
      %p
        Non-Tenure Track Faculty Members
        %select
          %option Teaching Faculty
          %option Research Faculty
          %option Postdoctorates
      %p
        Gender
        %select
          %option Male
          %option Female
          %option Not Available
      %p
        Ethnicity
        %select
          %option American Indian or Alaka Native
          %option Asian, not Hispanic
          %option Black or African-American
          %option Native Hawaiian or other Pacific
          %option White, Non-Hispanic
          %option More than one race, not Hispanic
          %option Hispanic or Latino, any race
          %option Race/Ethnicity Unkhown
          %option Nonresident Alien
          %option Not Availabe
      %input{:type => "submit", :value => "Select"}/
    %hr/
    %form
      %h3 What information do you want?
      %p
        %input{:type => "checkbox"}>/
        Count
      %p
        %input{:type => "checkbox"}>/
        Name
      %p
        %input{:type => "checkbox"}>/
        Address
      %p
        %input{:type => "checkbox"}>/
        Ethnicity
    %form{:action => site_facultyOutput_path}
      %input{:type => "submit", :value => "Apply selected filters"}/