%html
  %head
    %title Taulbee Survey Data
    :css
			.heading{
			color:white;
			background-color:#500000;
			height:50px;
			margin:0;
			padding:0;
		}
		
		.centered{
			text-align:center;
		}
	
	  %body
    .heading
      %h1.centered Taulbee Survey
    %p
     %a{:href => site_index_path}
        %img{:height => "30", :src => "/images/homepageicon.jpg", :width => "30"}/
      %a{:href => site_selectStudentOrFaculty_path}
        %img{:height => "30", :src => "/images/previous-icon.png", :width => "30"}/
    %hr
      %p How many filters do you want to apply?
      %input#noOfFilters{:type => "text"}
        %button#confirmNoOfFilters Confirm
        %p
          #List
            #filtersList
              <select =id="filtersListInner" onchange="getSelected(value)">
              %option{:value => "degree"} degree
              %option{:value => "ethnicity"} ethnicity
              %option{:value => "gender"} gender
            #comparatorList
              %select#comparatorListInner{:onchange => "getSelected(value)"}
                %option{:value => "="} =
                %option{:value => "="} >
                %option{:value => "="} <
                %option{:value => "="} >=
                %option{:value => "="} <=
            #filterValue
              %input#filterValueInner{:type => "text"}/
        %hr
          %p How many attributes do you want?
          %input#noOfInfo{:type => "text"}
            %button#confirmNoOfInfo Confirm
            #infoList
              %p
                %select#infoListInner{:onchange => "getSelected(value)"}
                  %option{:value => "name"} name
                  %option{:value => "gender"} gender
                  %option{:value => "degree"} degree
            %hr
              %form{:action => site_studentOutput_path}
                %input{:type => "submit", :value => "Apply selected filters"}
              :javascript
                var filterChosen = "";
                var comparatorChosen= "";
                var filterValueChosen="";
                var dropdown1="";
                
                document.getElementById("confirmNoOfFilters").onclick=function()
                {
                	var noOfFilters=document.getElementById("noOfFilters").value;
                	
                	for(var i =0; i<noOfFilters; i++)
                	{
                	
                		dropdown1= dropdown1 + "" + document.getElementById("filtersList").innerHTML + document.getElementById("comparatorList").innerHTML + document.getElementById("filterValue").innerHTML + "";
                	
                		
                	}
                	document.getElementById("List").innerHTML = dropdown1;
                	
                	//we need something here to access the values of "filtersList","comparatorList","filterValue" if every iteration 
                	//and then have to store the values selected in the drop down lists
                	/*	filterChosen[i]= document.getElementById("filtersListInner").value;
                		comparatorChosen[i]= document.getElementById("comparatorListInner").value;
                		filterValueChosen[i]= document.getElementById("comparatorListInner").value;
                	*/
                	
                }
                
                var dropdown2="";
	
                document.getElementById("confirmNoOfInfo").onclick=function()
                {
                	var noOfInfo=document.getElementById("noOfInfo").value;
                	
                	for(var i =0; i<noOfInfo; i++)
                	{
                	
                		dropdown2= dropdown2 + "" + document.getElementById("infoList").innerHTML + "";
                	
                		
                	}
                	document.getElementById("infoList").innerHTML = dropdown2;
                	
                	//we need something here to access the values of "infoList" 
                	//and then have to store the values selected in the drop down lists
                	//	filterChosen[i]= document.getElementById("infoListInner").value;
                		
                
                }